.about{
  padding: 20rem 0;
  background-position: center right;
  background-size: contain;
  background-repeat: no-repeat;

    .about-desktop-container{
        position: relative;
        .title-primary{
            text-align: center;
        }

        .content{
            display: flex;
            position: relative;

            .left-content{
              position: relative;
              z-index: 2;
              width: 65%;
              margin-top: 15%;
              text-align: start;
              color: white;
              .reveal {
                z-index: 3;
              }
                .icons{
                    width: 70%;
                    display: flex;
                    justify-content: space-around;

                }
    
                .big-text{
                    margin-top: 1rem;
                    font-weight: 500;
                    color: #4D4E50;
                    margin-bottom: 2rem;
                }
    
                .history {
                  margin-top: 1rem;
                  font-weight: 500;
                  font-size: 1.25rem;
                  margin-bottom: 15%;
                }
    
                .goal{
                  margin-top: 2rem;
                    width: 100%;
                    height: auto;
                    img{
                        width: 5%;
                    }
                    h3{
                        font-weight: 900;
                        font-size: 1.25rem;
                    }
                    p{
                        font-weight: 400;
                        font-size: 1.25rem;
                    }
                }
            }


              .devices{
                position: absolute;
                right: 0;
                top: 15%;
                  height: 70rem;
                  z-index: 1;
                }
            
            
        }


    }
    .light-src{
        position: absolute;
        right: 0;
    }
}

@media (max-width: 1024px) {
  .big-text {
    // font-size: 1.25rem;
    color: #0024E3 !important;
  }
}
@media (max-width: 768px) {
    .about{
        .about-desktop-container{
            .content{

                .left-content{
                    .icons{
                        img{
                            width: 20%;
                        }
    
                        img:first-child{
                            width: 10%;
                        }
                    }
                    .big-text{
                        h1{
                            font-size: calc(20px + (30 + 30 *.7) * ((100vw - 430px)/1440));
                        }
                    }

                    p{
                        font-size: calc(10px + (10 + 10 *.7) * ((100vw - 430px)/1440));
                    }

                    .goal{
                        h3{
                            font-size: calc(7px + (13 + 13 *.7) * ((100vw - 430px)/1440));
                            margin: 3% 0;
                        }

                        p{
                            font-size: calc(10px + (10 + 10 *.7) * ((100vw - 430px)/1440));
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1024px) {
  .reveal {
    .devices {
      height: 50rem !important;
    }

  }
}