.about{
  padding: 20rem 0;
  background-position: bottom right;
  background-repeat: no-repeat;
    .about-mobile-container{
        display: none;
    }

    .about-desktop-container{
        width: 100%;
        height: auto;
        position: relative;
        .title-primary{
            text-align: center;
        }

        .content{
            display: flex;
            position: relative;
            .left-content{
              position: relative;
              z-index: 2;
              width: 65%;
              margin-top: 15%;
              text-align: start;
              color: white;
                .icons{
                    width: 70%;
                    display: flex;
                    justify-content: space-around;
                }
    
                .big-text{
                    font-weight: 500;
                    font-size: 2.5rem;
                    color: #4D4E50;
                    margin-bottom: 2rem;
                }
    
                p{
                    font-weight: 500;
                    font-size: 1.25rem;
                    margin-bottom: 15%;
                }
    
                .goal{
                    width: 100%;
                    height: auto;
                    img{
                        width: 5%;
                    }
                    h3{
                        font-weight: 900;
                        font-size: 1.25rem;
                    }
                    p{
                        font-weight: 400;
                        font-size: 1.25rem;
                    }
                }
            }

            .devices{
                width: 45%;
                position: absolute;
                right: 0;
                top: 15%;
                z-index: 0;
            }
        }


    }
    .light-src{
        position: absolute;
        right: 0;
    }
}

@media (max-width: 1024px) {
  .big-text {
    font-size: 1.25rem !important;
    color: #0024E3 !important;
  }
}