

.consultation {

  padding: 40rem 0;
  background-position: center;
  background-size: cover;




  form {
    backdrop-filter: blur(60px);
    background: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.59);
    border-radius: 4.62rem;
    text-align: center;
    padding: 10rem 0;

    input {
      width: 100%;
      background: white;
      border: none;
      font-family: inherit;
      padding: 1rem 2rem;
      border-radius: 1.5rem;
      outline: none;
      font-size: 1.5rem;
      box-shadow: 0 4px 47px 0 rgba(0, 0, 0, 0.25);
    }

    button {
      width: 100%;
      background: #0057ff;
      color: white;
      border: none;
      font-family: inherit;
      padding: 1rem 2rem;
      border-radius: 1.5rem;
      outline: none;
      font-size: 1.5rem;
      box-shadow: 0 4px 47px 0 rgba(0, 0, 0, 0.25);
    }

    .form-head {
      margin: 0 auto;
      color: white;
      max-width: 35rem;
      h1 {
        font-weight: 900;
        font-size: 3rem;
      }
      p {
        margin-top: 2rem;
        font-size: 1.88rem;
      }
    }

    .form-body {
      padding: 6rem 0;
      margin: 0 auto;
      max-width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 3rem;
    }
  }
}