* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

.find {
  padding: 25rem 0;
  position: relative;
  
  .gradient-bg {
    z-index: 0;
    top: -20%;
    right: 0;
    position: absolute
  }
 .title-primary {
  text-align: center;
 }
  .content {
    margin-top: 15rem;
    display: flex;
    align-items: center;
    position: relative;
    .map-style {
      width: 750px;
      height: 780px;
      position: absolute;
      right: 0; 
    }
    .content-info {
      padding: 4rem 2rem;
      background: white;
      width: 40rem;
      border-radius: 3.20rem;
      .info-list {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        .info-item {
        
          .item-head {
            color: white;
            display: flex;
            align-items: center;
            .head-title {
              font-weight: 700;
              text-transform: uppercase;
            }
            span {
              padding: 0.3rem 0.5rem;
              display: block;
              background: #000;
              border-radius: 0.6rem;
              img {
                width: 1rem;
              }
            }
            
            
          }
          .text {
            margin-top: 1rem;
            font-size: 1.5rem;
            max-width: 13rem;
            max-width: 20rem;
          }
        }
      }
      .info-face {
        margin-top: 5rem;
      }
      
    }
    
  }
}


@media (max-width: 1190px) {
  .map-style {
    width: 700px !important;
  }
}
@media (max-width: 1090px) {
  .map-style {
    width: 600px !important;
    height: 650px !important;
  }
}

@media (max-width: 1024px) {
  .content {
    width: 100%;
    flex-direction: column;
    .map-style {
      position: static !important;
      width: 100% !important;
      height: 25rem !important;
    }
    .content-info {
      width: 100% !important;
      border-radius: 1rem 1rem 0 0;
      width: 100%;
      margin-bottom: 2rem;
      .info-list {
        align-items: center;
        text-align: center;
        li {
          display: grid;
          place-items: center;
        }
      }
    }
    .info-face {
      text-align: center;
    }
  }
}

@media (max-width:768px) {
  .find{
    .content{
      .content-info{
        border-radius: 2rem;
      }
    }
  }
}