

ul li {
  img{
    width: 60%;
  }
}

.teachers {



  .teachers-list {
    display: grid;
    align-items: first baseline;
    gap: 5rem;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    color: white;
    .teacher-card {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 2rem;
      text-align: center;
      .teacher-pic {
        width: 25rem;
        height: 24rem;
        border-radius: 3.75rem;
      }

      h1 {
        font-size: 2.5rem;
        font-weight: 700;
        max-width: 30rem;
      }

      p {
        font-size: 1.25rem;
        max-width: 350px;
      }

      span {
        text-transform: uppercase;
        background: #0057ff;
        padding: 0.3rem 1rem;
        border-radius: 0.8rem;
      }
    }
  }
}


@media (max-width:768px) {
  .teachers {
    padding: 10rem 0;
  }
  .teachers .teachers-list .teacher-card h1{
    font-size: 1.4rem;
  }
}