* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;

  img{
    width: 60%;
  }
}

.teachers {
  padding-top: 20rem;


  .teachers-list {
    margin-top: 10rem;
    display: grid;
    align-items: first baseline;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    color: white;
    .teacher-card {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 2rem;
      text-align: center;
      .teacher-pic {
        width: 25rem;
        height: 24rem;
        border-radius: 3.75rem;
      }

      h1 {
        font-size: 2.5rem;
        font-weight: 700;
        max-width: 30rem;
      }

      p {
        font-size: 1.25rem;
        max-width: 350px;
      }

      span {
        text-transform: uppercase;
        background: #0057ff;
        padding: 0.3rem 1rem;
        border-radius: 0.8rem;
      }
    }
  }
}

