* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

.teachers {
  padding-top: 20rem;

  .title {
    text-align: center;
    font-family: var(--third-family);
    font-weight: 500;
    font-size: 3.75rem;
    letter-spacing: 0.1em;
    background: linear-gradient(158deg, #78c6ff 0%, #0057ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .teachers-list {
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    color: white;
    .teacher-card {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 2rem;
      .teacher-pic {
        width: 25rem;
        height: 24rem;
        border-radius: 3.75rem;
      }

      p {
        max-width: 30rem;
        font-size: 2.5rem;
        text-align: center;
        font-weight: 700;
      }

      span {
        text-transform: uppercase;
        background: #0057ff;
        padding: 0.3rem 1rem;
        border-radius: 0.8rem;
      }
    }
  }
}