@import "../../App.scss";

.pros{
    width: 100%;
    height: auto;
    margin-top: 15%;
    .pros-desktop-container{
        width: 100%;
        height: auto;
        .title{
            width: 100%;
            height: auto;
            text-align: center;
            margin-bottom: 15rem;
            .title-primary {
              text-align: center;
            }

            p{
                font-weight: 500;
                font-size: clamp(14px, 5vw, 30px);
                letter-spacing: 0.1em;
                text-align: center;
                color: white;

                span{
                    color: rgba(0, 87, 255, 0.65);
                }
            }
        }

        .pros-content{
            margin-top: 10%;
            .row-content{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                place-items: center;
                gap: 2rem;
                .card{
                    width: 20rem;
                    border: 1px solid #141920;
                    border-radius: 1.88rem;
                    background: #06090e;
                    padding: 7% 5%;
                    @include displayFlex(column, flex-start,default, 1rem);
                    h1{
                        font-weight: 700;
                        font-size: 1.44rem;
                        text-align: center;
                        color: white;
                    }

                    p{
                        font-weight: 400;
                        font-size: 0.94rem;
                        color: #b8b8b8;
                    }

                    img{
                        width: 20%;
                    }
                }   
            }

            .row-content:last-child{
                margin-top: 10%;
            }
        }
    }
}

@media (max-width: 1024px) {
  .row-content {

    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)) !important;

    
  }
}