@import "../../App.scss";

.trial-video-courses {
  color: white;
  padding: 10rem 0;
  position: relative;
  overflow: hidden;

  .content {
    @include displayFlex(row, center, default, 1rem);
  }

  .trial-text-part {
    h1 {
      font-size: 2.5rem;
      margin-bottom: 2rem;
      letter-spacing: 0.1rem;
    }
    p {
      position: relative;
      z-index: 5;
      max-width: 27rem;
      font-size: 1.9rem;
      background: #000;
      box-shadow: 20px 0 60px 50px black;
    }
  }
    

  .swiper-wrapper {
    .video-part {
      width: 25rem;
      height: 14rem;
      background: white;
      border-radius: 2rem;
      color: black;
      display: grid;
      place-items: center;
    }
  }
}


@media (max-width: 1024px) {
  .content {
    flex-direction: column !important;
    width: 100%;
    margin: 0 auto;
    .trial-text-part {
      width: 100%;
    }
    .swiper-wrapper {
      .video-part {
        width: 15rem;
        height: 10rem;
      }
    }
  }
}