@import "../../App.scss";

nav{
    width: 100%;
    position: fixed;
    top: 5%;
    z-index: 50;

    .nav-bar {
      position: absolute;
      transform: translateX(150%);
      right: 2rem;
      transition: .4s;
      background: #D9D9D9;
      padding: 2rem 0;
      border-radius: 1.25rem;
      &.active {
        transform: translateX(0);
      }
      li {
        cursor: pointer;
        font-weight: 700;
        padding: 1rem 2rem;
        border-bottom: solid 1px rgba(98, 98, 98, 0.52);
        &:hover {
          background: #cac9c9;
        }
        &:last-child {
          border-bottom: none;
        }
      }

    }

    .desktop-container{
        width: 100%;
        @include displayFlex(row,center,space-between, 0);
        img{
            width: 15%;
        }
    
        .action {
          @include displayFlex(row,center,space-between, 4rem);

          .soc-media {
            @include displayFlex(row,center,space-between, 2rem);
  
            img {
              width: 2.5rem;
            }
          }

          .burger {
            background: #D9D9D9;
            width: 3.5rem;
            height: 3.5rem;
            padding: 1rem 0.7rem;
            display: grid;
            place-items: center;
            gap: 0;
            border-radius: 1rem;
            position: relative;
            span {
              display: block;
              width: 2.10rem;
              height: 0.3rem;
              margin: 0 auto;
              border-radius: 0.3rem;
              background: #000;
              transition: .4s;
            }
            .middle-active {
              display: none;
            }

            .first-active {
              position: absolute;
              transform: rotate(45deg);
            }

            .last-active {
              position: absolute;
              transform: rotate(-45deg);
            }
          }
        }
    }
}


