@mixin displayFlex($direction,$align,$justify, $gap) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
  gap: $gap;
}

@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');


.App {
  background-color: black;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  font-family: "Golos Text", sans-serif;
  .container{
    max-width: 1330px;
    padding: 0 1rem;
    margin: 0 auto;
  }

  .light-src{
    position: absolute;
    right: 0;
    margin-top: 60%;
  }
}
