
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  color: inherit;
  background: transparent;
  border: none;
  transition: .4s;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.title-primary {
  font-family: var(--font3);
  font-weight: 500;
  font-size: 3.75rem;
  letter-spacing: 0.1em;
  background: linear-gradient(to right, #0057ff 0, #78c6ff 20%, #0057ff 20%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-fill-mode: forwards;
  animation: shine 2s infinite ease-in-out;
}

@media (max-width: 1024px) {
  .title-primary {
    font-size: 2.5rem !important;
  }
}


@keyframes shine {
  0% {
    background-position: 0
  }
  60% {
    background-position:  25rem
  }
  100% {
    background-position: 50rem
  }
}
 