@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;700&display=swap');
@import "../../App.scss";

.benefits{
    position: relative;
    overflow: hidden;
    font-family: "JetBrains Mono", monospace;
    .desktop-container{
        .noise-fx{
            position: absolute;
            z-index: 3;
            left: 0;
            overflow: hidden;
            width: 100%;
        }
        
        .benefits-head {
          position: relative;
          .title-primary {
            text-align: center;
            margin-bottom: 2rem;
          }
          marquee {
            display: block;
            max-width: 65rem;
            margin: 0 auto;
            color: white;
            position: relative;
            &::before {
              content: "";
              z-index: 5;
              top: 0;
              left: -1px;
              position: absolute;
              width: 5rem;
              height: 2rem;
              background: rgba(0, 0, 0, 0.985);
              box-shadow: 50px 0px 90px 70px rgb(0, 0, 0);
            }
            &::after {
              content: "";
              z-index: 5;
              top: 0;
              right: -1px;
              position: absolute;
              width: 5rem;
              height: 2rem;
              background: rgba(0, 0, 0, 0.985);
              box-shadow: -50px 0px 90px 70px rgb(0, 0, 0);
            }
            ul {
              @include displayFlex(row,center,space-between,4rem);
              li {
                font-size: 0.9rem;
              }
            }
          }
        }

        .light-src{
            position: absolute;
            width: 40%;
            z-index: 2;
        }

        .benefits-cards{
            display: grid;
            grid-template-columns: 1fr 1fr;
            place-items: center;
            padding: 5%;
            gap: 2rem;
            position: relative;
            z-index: 15;
            .reveal {
              .card{
                width: 28.5rem;
                height: auto;
                border: 1px solid rgba(255, 255, 255, 0.43);
                border-radius: 38px;
                backdrop-filter: blur(30px);
                background-color: linear-gradient(156deg, #fff 0%, #0e0d0d 100%);
                padding: 6%;
                box-sizing: border-box;
                color: white;
                margin: 10% 0;
                div{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    gap: 5%;
                    margin: 5% 0 10%;
                    // margin-bottom: 15%;
                        h1{
                            font-weight: 700;
                            font-size: 50px;
                            letter-spacing: 0.1em;
                            white-space: nowrap;
                        }

                        h3{
                            font-weight: 400;
                            font-size: 13px;
                            background-color: #0057ff;
                            padding: 1%;
                            box-sizing: border-box;
                            border-radius: 0.5rem;
                            font-weight: 200;
                        }
                }

                p{
                    font-weight: 400;
                    font-size: 23px;
                }
            }
            }

            .card:last-child{
              div{
                margin: 5% 0 15%;
              }
            }
            .circle-element{
                position: absolute;
                z-index: 0;
            }

            #circle-1{
                position: absolute;
                left: 12%;
                top: 7%;
            }
            
            #circle-2{
                right: 12%;
                top: 37%;
                width: 12%;
            }
            
            #circle-3{
                left: 13%;
                bottom: 22%;
                width: 5%;
            }
            #circle-4{
                bottom: 5%;
                right: 13%;
                width: 12%;
            }



        }
    }

    .mobile-container{
        display: none;
    }
}

@media (max-width: 1024px) {
  .benefits-cards {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)) !important;
    .card {
      width: 18rem !important;
    }
  }
}
@media (max-width: 768px) {
.benefits{
    .desktop-container{
      .benefits-cards{
        .card{
          padding: 5% 5% 15%;
          div{
            margin: 10% 0;
            h1{
              font-size: calc(20px + (30 + 30 * .7)*((100vw - 430px)/1440));
            }

            h3{
              font-size: calc(6px + (7 + 7 * .7)*((100vw - 430px)/1440));
            }
          }

          p{
            font-size: calc(9px + (14 + 14 * .7)*((100vw - 430px)/1440));
          }
        }
      }
    }
}
}
